<%- include("partials/header.ejs") %>
<main>
    <div>
<header>
    <h1>Work List</h1>
</header>
<div class="item">
<input class="textbox" type="text" placeholder="Input Item" size="40">
<button onclick="addTask()" class="addItem">+</button>
</div>
</div>
</main>
<%- include("partials/footer.ejs") %>